<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <style>
            .header {
                background-color: #0074B6;
                height: 40px;
                color: #ffffff;
                line-height: 40px;
                font-size: 16px;
            }
            .sub-header {
                background-color: #F2F7FA;
                border-bottom: 1px solid #0074B6;
                height: 40px;
                line-height: 40px;
                color: #0074B6;
            }
            .sub-header a {
                font-size: 14px;
                margin: 0 10px;
            }
            .criteria-box {
                border: 1px solid #0074B6;
            }
            h3 {
                color: #0074B6;
            }
        </style>
    </head>
    <body>
        <header>
            <div class="header">
                <div class="text-center">Eko Delivery Service</div>
            </div>
        </header>
        <div class="sub-header">
            <div class="container">
                <a href="/">Calculate the delivery cost</a> | 
                <a href="/deliveryroute">Calculate the number of possible delivery route</a> |
                <a href="/deliverycheap">Calculate the cheapest delivery route</a>
            </div>
        </div>