<%- include('../partials/header'); %>
<script>
    const calculateCheapest = () => {
        const maxStop = $("#txtMaxStop").val();
        const maxCost = $("#txtMaxCost").val();
        const criteria = {
            from: $("#ddlFrom").val(),
            to: $("#ddlTo").val(),
            maxStop: maxStop,
            maxCost: maxCost,
            noOfSameRoute: $("#ddlSameRoute").val(),
        };
        fetch("/api/deliveryPosible", {
            method: "POST",
            body: JSON.stringify(criteria),
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
        }).then((response) => response.json())
        .then((data) => {
            if(data.hasError){
                $("#errorBox").removeClass("d-none");
                $("#resultBox").addClass("d-none");
                $("#detailList").html("");
            }else {
                $("#errorBox").addClass("d-none");
                $("#resultBox").removeClass("d-none");
                const message = `The number of possible delivery route from ${criteria.from} to ${criteria.to} is <b>${data.routes.length}</b>`;
                $("#result").html(message);

                let liHtml = '';
                for(let i = 0; i < data.routes.length; i++){
                    const posibleRoutes = data.routes[i];
                    let routeDetail = '';
                    let totalCost = 0;
                    for(let j = 0; j < posibleRoutes.length; j++){
                        const route = posibleRoutes[j];
                        if(j == 0){
                            routeDetail += route.from;
                        }
                        routeDetail += ` -> ${route.to}`;
                        totalCost += route.cost;
                    }
                    liHtml += `<li class="list-group-item d-flex justify-content-between align-items-center">${routeDetail} <span class="badge badge-primary badge-pill">${totalCost}</span></li>`;
                }
                $("#detailList").html(liHtml);
            }
        }).catch(err => {
            $("#errorBox").removeClass("d-none");
            $("#resultBox").addClass("d-none");
            $("#detailList").html("");
        });
    }
</script>
<div class="container">
    <div class="row">
        <div class="col m-3 py-3 criteria-box">
            <div class="row">
                <div class="col">
                    <h3>Calculate the number of possible delivery route</h3>
                </div>
            </div>
            <div class="row">
                <div class="col">                           
                    <div class="form-group">
                        <label for="from">From</label>
                        <select class="form-control" name="from" id="ddlFrom">
                            <option>A</option>
                            <option>B</option>
                            <option>C</option>
                            <option>D</option>
                            <option>E</option>
                            <option>F</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="to">To</label>
                        <select class="form-control" name="to" id="ddlTo">
                            <option>A</option>
                            <option>B</option>
                            <option>C</option>
                            <option>D</option>
                            <option>E</option>
                            <option>F</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">                           
                    <div class="form-group">
                        <label for="maxStop">Max Stop (0 is no max stop)</label>
                        <input class="form-control text-right" name="maxStop" type="number" min=0 max=20 id="txtMaxStop" value=0 />
                    </div>
                </div>
                <div class="col">                           
                    <div class="form-group">
                        <label for="maxCost">Max Cost (0 is no max cost)</label>
                        <input class="form-control text-right" name="maxCost" type="number" min=0 max=1000 id="txtMaxCost" value=0 />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="sameRoute">No. of use the same route</label>
                        <select class="form-control" name="sameRoute" id="ddlSameRoute">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-right">
                    <button type="submit" class="btn btn-primary" onclick="calculateCheapest()">Calculate</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="alert alert-warning d-none" role="alert" id="errorBox">
                No Such Route
            </div>
            <div class="alert alert-primary d-none" role="alert" id="resultBox">
                <div class="row">
                    <div class="col-9" id="result"></div>
                    <div class="col-3 text-right">
                        <button type="submit" class="btn-primary" data-toggle="collapse" data-target="#detailList">Show Detail</button>
                    </div>
                </div>
            </div>

            <ul class="list-group collapse" id="detailList"></ul>
        </div>
    </div>
</div>
<%- include('../partials/footer'); %>